

* {
  margin: 0;
  padding:0;
}

ul{
  margin: 0;
  padding:0;
}

li{
  margin: 0;
  padding:0;
  list-style-type: none;
}

html,body {
  background:#e9e9e9;
  color:#333;
  font-family:"Work Sans", sans-serif;
  line-height:1.4;
  height: 100%;
  width: 100%;
}

*,::before,::after {
  box-sizing:border-box;
}

:focus {
  outline:none;
}

.wrapper {
  margin:0 auto;
  padding:1rem 0;
  width:calc(100% - 5rem);
}

.item.hidden {
  visibility:hidden;
}

.body_form {
  display: flex;
  padding:.25rem .5rem;
  /*margin-right: 1.5rem;*/
  margin: auto;
  align-content: space-between;
}

.input_form {
  display: flex;
  flex-direction: column;
  margin-right: 0.5rem;
  align-content: flex-start;
}

input{
  border-radius: 5px;
  border: 2px solid rgba(16, 15, 15, 0.5);
  margin-top: 10px;
  font-size: 24px;
}

.button{
  margin-top: 10px;
  font-size: 12px;
  padding: 6px;
  border-radius: 5px;
  border: 2px solid rgba(16, 15, 15, 0.5);
}

label {
  font-size: 14px;
}

.span_button {
  font-size: 14px;
  color: #e9e9e9;
}

.card_list{
  display: flex;
  flex-direction: column;
  padding:.25rem .5rem;
  flex:0 0 auto;
}
.form_flex{
  display: flex;
  flex-direction: column;
}

.button2{
  background-color: #e9e9e9;
  font-size: 12px;
  padding: 6px;
  border:none;
  margin-left: 55px;
}

.button3{
  background-color: #e9e9e9;
  font-size: 12px;
  padding: 6px;
  border:none;
  margin-right: 60px;
}

.card_title{
  display: flex;
  margin-top: 10px;
  margin: auto;
  padding:.25rem .5rem;
  
  font-size: 14px;
  font-weight: 300;
}

.span_title {
  font-size: 14px;
  margin-left: 4rem;
  margin-right: 4rem;
}

.card_item{
  display: flex;
  margin-top: 10px;
  padding:.25rem .5rem;
  
  font-size: 14px;
  font-weight: 300;
}

.card_date, .card_way{
  width: 230px;/*width: 20%;*/
  text-align: center;
}

.card_way{
 /* margin-right: 10%;*/
 width: 230px;
 /*margin-right: 80px;*/
 text-align: center;
}

.visually-hidden {
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute;
}

.list_sport{
  margin:auto;

  display: flex;
  flex-direction: column;
}

.border_ul{
  border: 1px solid rgba(16, 15, 15, 0.5);
  border-radius: 5px;

  margin: auto;
}





body {
  font-family: 'Mina', sans-serif;
}

#root {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.wrap-item,
.item {
  width: 430px;
  margin: 10px;
  padding: 10px 10px 1px;
  background: #000000;
}

.item-video iframe {
  display: block;
  margin: 0 auto;
  width: 430px;
  height: 240px;
  border: none;
}

.item-article h3 {
  display: table-cell;
  margin: 0 auto;
  width: 430px;
  height: 240px;
  text-align: center;
  vertical-align: middle;
  font-size: 140%;
  font-weight: normal;
}

.item-article h3 a {
  color: #ffffff;
}

.item .views {
  margin: 6px 0 0 0;
  text-align: right;
  font-size: 80%;
  color: #cccccc;
}

.wrap-item {
  position: relative;
  height: 260px;
}

.wrap-item .label {
  display: inline-block;
  position: absolute;
  top: 3px;
  left: 3px;
  border: 1px solid;
  border-radius: 3px;
  color: #fff;
}

.wrap-item .item {
  width: 400px;
  margin: 0 auto;
}

.wrap-item .item iframe,
.wrap-item .item h3 {
  width: 400px;
  height: 210px;
}

.wrap-item-new {
  background-color: rgba(41, 198, 31, 0.47);
}

.wrap-item-new .label {
  background-color: rgba(15, 145, 37, 0.72);
  border-color: rgba(15, 145, 37, 1);
}

.wrap-item-popular {
  background-color: rgba(231, 0, 25, 0.64);
}

.wrap-item-popular .label {
  background-color: rgba(176, 0, 24, 0.73);
  border-color: rgba(176, 0, 24, 0, 1);
}